<div class="container">
    <h2 class="text-center">Add a Quote</h2>
    <hr>
    <form action="">
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" id="Quote" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="author">Author of the Quote:</label>
          <input type="text" required class="form-control" id="author">
        </div>
        <div class="form-group">
            <label for="name">Your Name</label>
          <input type="text" required class="form-control" id="name">
        </div>
    </form>
</div>
